header.app-header
  display none
.snap-drawers
  display none
section.site-content
    margin-top 109px
section#content
  background #EAEAEA!important
header.custom-header
  display flex
  justify-content space-between
  align-items center
  position fixed
  width 100%
  top 0
  height 109px
  padding 0 180px
  box-sizing border-box
  ul
    display flex
    align-items center
    list-style none
    text-transform uppercase
    font-size 14px
    height 100%
    padding 0 0 0 17px
    li
      margin 13px 20px 0
      color #6d6e70
      a
        color #6d6e70
        font-weight 400
        letter-spacing 0.1px
  .transparencia
    width 65px
  .logo
    height 60px
    img
      height 100%