.custom-header
  display none
  position fixed
  top 0
  margin-left auto
  margin-right auto
  width 100%
  height 50px
  padding 0 20px
  z-index 999
  box-sizing border-box

  .ext-layout &
    display block

  #mobileMenuBtn
    width 56px
    height 50px
    position absolute
    left 0
    top 0
    padding 16px 15px 0
    cursor pointer

    .bar-icon
      background #333
      height 3px
      margin-bottom 5px
      display block

  #mobileMenuChk:checked
    & ~ ul
      display block

  ul
    display none
    margin 0
    background #fff
    position absolute
    z-index 99
    width 100%
    height auto
    left 0
    top 100%
    list-style none
    font-size 14px
    text-transform uppercase
    text-align center
    padding 0

    li
      margin 13px 20px 13px
      color #6d6e70

      a
        color #6d6e70
        font-weight 400
        letter-spacing 0.1px

    .link
      margin 0 20px

      &:hover
        a
          color #333

      a
        display block
        padding 30px 0 20px

  .transparencia
    display none

    img
      width 85px

  .mobile-logo
    display block
    margin 0 auto
    left 0
    height 45px
    width 34px

    img
      margin-top 2px
      width 34px

  .logo
    display none
    margin 0
    left 0
    height 45px
    width 100%
    top 0
    height 60px
    width auto

    img
      height 100%

@media (min-width: 620px)
  .custom-header
    justify-content center
    align-items center
    height 109px

    .ext-layout &
      display flex

    #mobileMenuBtn,
    .mobile-logo
      display none

    .logo
      display block

    .transparencia:last-child
      position relative
      top 0
      height auto

    ul
      display flex
      align-items center
      height 100%
      position relative
      top 0
      width auto

      li
        display block
        margin-bottom 0

  @media (min-width: 800px)
    .custom-header
      justify-content space-around

      .transparencia
        display block

      .transparencia:last-child
        margin 0
        left 0
        height auto
        position relative
        top 0
