header.custom-header
  label(id='mobileMenuBtn', for="mobileMenuChk")
    span.bar-icon
    span.bar-icon
    span.bar-icon
  input#mobileMenuChk(type="checkbox", style="display:none;")
  img.transparencia(src="ext/logo-transparencia.svg")
  ul
    li
      a(href="/que-es") Plan 32
    li
      a(href="/quiero-firmar") Quiero firmar
    li.logo
      a(href="/")
        img(src="ext/logo-plan32.svg")
    li
      a(href="/proyecto") Proyecto de ley
    li
      a(href="/noticias") Noticias
  img.transparencia(src="ext/logo-transparencia.svg")