header.custom-header
  label(id="mobileMenuBtn", for="mobileMenuChk")
    span.bar-icon
    span.bar-icon
    span.bar-icon
  input#mobileMenuChk(type="checkbox", style="display:none;")
  a.transparencia(href="http://www.transparencia.org.pe/", target="_BLANK")
    img(src="/ext/logo-transparencia.svg")
  ul
    li.link
      a(href="/que-es") Plan 32
    li.link
      a(href="/quiero-firmar") Quiero firmar
    li.logo
      a(href="/"): img(src="/ext/logo-plan32.svg")
    li.link
      a(href="/proyecto-de-ley") Proyecto de ley
    li.link
      a(href="/noticias") Noticias
  a.transparencia(href="http://www.transparencia.org.pe/", target="_BLANK")
    img(src="/ext/logo-transparencia.svg")
