.signature-form
  .form-messages
    padding 0
    list-style-type none

    .msg
      padding 15px
      margin-bottom 20px
      border 1px solid
      font-size .9em
      border-radius 2px

      &.success
        color #145730
        border-color #27ae60
        background-color #b6efce

      &.error
        color #7a1d1a
        border-color #d9534f
        background-color #f4cbca
