#banner
  width 100%
  img
    width 100%
article
  h1
    text-align center
    font-size 41px
  button
    cursor pointer
    background #000
    color #fff
    text-transform uppercase
    border none
    font-size 19px
    padding 9px 40px
    font-weight bold

#quiero_firmar
  margin-bottom 60px
  padding-top 20px
  max-width 960px

  .text
    p
      line-height 1.5
      font-size 18px

.quiero-firmar-map
  position relative
  min-height 500px
  width 100%
  pointer-events none

  &:after
    content ''
    display block
    padding-top 41%

  iframe
    position absolute
    left 0
    top 0
    width 100%
    height 100%
