#quiero_firmar
  margin-bottom 60px
  padding-top 20px
  max-width 960px

  h1
    text-align center

  .text
    p
      line-height 1.5
      font-size 18px

.quiero-firmar-map
  position relative
  min-height 500px
  width 100%
  pointer-events none
  margin-bottom -50px
  overflow hidden

  &:after
    content ''
    display block
    padding-top 41%

  iframe
    position absolute
    left 0
    top -50px
    width 100%
    height 100%
