.ext-quiero-firmar
  article#quiero_firmar.container
    h1 Quiero firmar
    .with-two-cols
      .text
        p
          | Necesitamos miles de firmas para que la reforma institucional sea debatida en el congreso
        p
          | Puedes sumarte a la campaña firmando en la web de plan32.pe o acercarte a la oficina de la Asociación Civil Transparencia: <b>Av. Belén 389, San Isidro de lunes a viernes entre 09:00 a.m. y 06:00 p.m.</b> o puedes ir a cualquiera de los lugares que están señalados en el mapa en las fechas indicadas <br><b>¡Contamos contigo!</b>
      .signature-form-wrapper(data-signature-form)
  include ./map
