article#quiero_firmar
  h1 Quiero firmar
  div.text
    p
      | Necesitamos más de 67,000 firmas para que este
      | proyecto sea debatido en el Congreso.
      | ¡Necesitamos tu firma!<br><br>
      | La Asociación Civil Transparencia ha iniciado una
      | campaña para recolectar firmas por todo el país con
      | la ayuda de otras instituciones y de los voluntarios que
      | colaboran permanentemente con nuestra organización.
    p
      | ¡Puedes ir a firmar a la oficina de la Asociación Civil
      | Transparencia: <b>Av. Belén 389, San Isidro de Lunes</b>
      | <b>a Viernes entre 09:00am y 06:00pm</b> o puedes ir a
      | cualquiera de los lugares que están señalados en el
      | mapa en las fechas indicadas!<br><br>
      | ¡Contamos contigo!
article#map
  iframe(src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d44146.10354427051!2d-77.09604222698916!3d-12.043441576125797!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2sar!4v1467134748282" frameborder="0" style="border:0" allowfullscreen)