article#quiero_firmar.container
  h1 Quiero firmar
  div.text.with-two-cols
    p
      | ¡Necesitamos más de 67,000 firmas para que este proyecto sea debatido en el Congreso!<br>¡Necesitamos tu firma!
    p 
      | ¡Puedes ir a firmar a la oficina de la Asociación Civil Transparencia: <b>Av. Belén 389, San Isidro de Lunes a Viernes entre 09:00am y 06:00pm</b> o puedes ir a cualquiera de los lugares que están señalados en el mapa en las fechas indicadas! <br><b>¡Contamos contigo!</b> 

include ./map
