article#quiero_firmar
  h1 Quiero firmar
  div.text
    p
      | Necesitamos más de 67,000 firmas para que este
      | proyecto sea debatido en el Congreso.
      | ¡Necesitamos tu firma!<br><br>
      | La Asociación Civil Transparencia ha iniciado una
      | campaña para recolectar firmas por todo el país con
      | la ayuda de otras instituciones y de los voluntarios que
      | colaboran permanentemente con nuestra organización.
    p
      | ¡Puedes ir a firmar a la oficina de la Asociación Civil
      | Transparencia: <b>Av. Belén 389, San Isidro de Lunes</b>
      | <b>a Viernes entre 09:00am y 06:00pm</b> o puedes ir a
      | cualquiera de los lugares que están señalados en el
      | mapa en las fechas indicadas!<br><br>
      | ¡Contamos contigo!
article#map
  include ./map
