.ext-quiero-firmar
  article#quiero_firmar.container
    h1 Quiero firmar
    .with-two-cols
      .text
        p Ya superamos las 50 mil firmas de respaldo a la reforma institucional.<br>Firma tú también en busca de una mejor calidad de la democracia.
        p Súmate a la campaña firmando en <a href="https://plan32.pe"><strong>https://plan32.pe</strong></a>
        p
          strong ¡Contamos contigo!
        .signature-count-wrapper(data-signature-count)
      .signature-form-wrapper(data-signature-form)
