.proyecto-de-ley
  #Congreso.box
    h2 Un mejor Congreso
    a.p32-btn(href="/funcionamiento-del-congreso") Ver propuestas
  #Justicia.box
    h2 Un mejor<br>Sistema de Justicia
    a.p32-btn(href="/sistema-de-justicia") Ver propuestas
  #Publica.box
    h2 Una mejor<br>Administración Pública
    a.p32-btn(href="/administracion-publica") Ver propuestas
  #Electoral.box
    h2 Un mejor<br>Sistema Electoral
    a.p32-btn(href="/proceso-de-eleccion") Ver propuestas
