article#quiero_firmar.container
  h1 El proyecto de ley
  div.text.with-two-cols
    p
      | No queremos que Plan32 sea solo un conjunto de buenas ideas. Así es que, con la ayuda de varios de los mejores abogados del país hemos transformado estas propuestas en un proyecto de ley único.
      br
      | Luego de varios meses de trabajo, el proyecto de ley está aquí, listo para ingresarlo al Congreso de la República como una iniciativa legislativa ciudadana.
    p
      | Para ello, necesitamos aproximadamente 67,000 firmas y eso significa que tendremos que recolectar muchas más considerando que algunas firmas suelen ser observadas o tachadas en procesos como éste.
      br
      | Estamos seguros de que nos puedes ayudar. Queremos que el Congreso debata estas propuestas y apruebe una reforma que haga que las instituciones funcionen mejor por el bien del país. Necesitamos un cambio.
  .text-center
    h3 ¿Quieres firmar?
    a.p32-btn(href="https://drive.google.com/file/d/0B2qhphijsItkQ2UyOFU3Y0poNUU/view?usp=sharing", target="_blank")
      | Descarga el Proyecto de ley aquí

//- .ext-proyecto-de-ley
//-   article.container
//-     include ./proyecto-de-ley
