body
  font-family 'Roboto', sans-serif

h1,
h2,
h3,
h4,
h5,
h6
  font-family 'Adelle', serif

.p32-btn
  display inline-block
  cursor pointer
  background #000
  color #fff
  text-transform uppercase
  border none
  font-size 19px
  padding 9px 40px
  font-weight bold

  &:hover
    color #fff
    background-color #333
