body
  font-family 'Roboto', sans-serif

h1,
h2,
h3,
h4,
h5,
h6
  font-family 'Adelle', serif

.p32-btn
  display inline-block
  cursor pointer
  background #000
  color #fff
  text-transform uppercase
  border none
  font-size 19px
  padding 9px 40px
  font-weight bold
  text-align center

  &:hover
    color #fff
    background-color #333

.with-two-cols
  display flex
  flex-wrap wrap
  align-items top
  justify-content center
  margin-bottom 20px

  & > *
    width 100%
    max-width 50%
    min-width 320px
    padding 0 20px
    margin-bottom 20px

    @media (max-width: 960px)
      max-width 100%
