.ext-forum
  h1
    text-align center
    font-size 34px
    margin-top 42px
    margin-bottom 15px
  .summary
    margin 0 auto 44px
    max-width 600px
    text-align center
    line-height 1.2
    font-weight 100
    font-size 22px
