.ext-forum
  h1
    text-align center
    font-size 34px
    margin-top 42px
    margin-bottom 15px
  .summary
    margin 0 auto 44px
    max-width 600px
    text-align center
    line-height 1.2
    font-weight 100
    font-size 22px

  #video
    position relative
    max-height 500px
    max-height unquote('calc(90vh - 120px)')
    margin-bottom 37px
    background-color #333

    .video-wrapper
      position relative
      max-width 888px
      max-width unquote('calc((90vh - 120px) *  1.778)')
      margin 0 auto
      background-color #222

      &:before
        display block
        content ''
        padding-top 56.25% /* 16:9 */
        max-height 100%

    iframe
      position absolute
      top 0
      left 0
      width 100%
      height 100%
      border none
