.ext-forum
  .container
    h1= forum.title
    p.summary= forum.summary
  - if(forum.extra && forum.extra.youtubeVideo)
    article#video
      .video-wrapper
        iframe(src=forum.extra.youtubeVideo)
  .container
    include ../topics-cards/template
