.ext-forum
  .container
    h1= forum.title
    p.summary= forum.summary
  - if(forum.extra && forum.extra.youtubeVideo)
    .responsive-video-wide
      .video-wrapper
        iframe(src=forum.extra.youtubeVideo + '?hd=1')
  .container
    include ../topics-cards/template
