.youtube-video
  &.loading
    .video,
    .video-mute-btn
      opacity: 0
      transition-delay: 0

  &.muted .video-mute-btn
    background-image: unquote('url("/ext/youtube-video/muted.png")')

  &:hover
    .video-mute-btn
      opacity: 1

  &:after
    content ''
    display block
    width 100%
    padding-top 56.25%

  .video
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 100%
    pointer-events: none
    overflow: hidden
    transition: opacity .3s ease-in 1s

  .video-wrapper
    position: absolute
    left: 50%
    top: 50%
    width: 100%
    padding-top: 56.3%
    transform: unquote('translate(-50%, -50%)')

  .video-mute-btn
    position: absolute
    left: 50%
    bottom: 0
    margin-left: -17.5px
    width: 35px
    height: 35px
    cursor: pointer
    opacity: 0
    transition: opacity .3s ease-in
    background-repeat: no-repeat
    background-position: center center
    background-color: rgba(#000, .6)
    background-image: unquote('url("/ext/youtube-video/unmuted.png")')

  iframe
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 100%
