.ext-que-es
  #banner
    position relative
    background-color #333

    &:after
      content ''
      display block
      padding-top 35%

  article
    h1
      text-align center
      font-size 41px
      margin 0 0 22px

    button
      cursor pointer
      background #000
      color #fff
      text-transform uppercase
      border none
      font-size 19px
      padding 9px 40px
      font-weight bold

  #que_es
    margin-bottom 42px
    padding-top 60px

    .text
      p
        line-height 1.5
        font-size 19px
        text-align left
