.ext-que-es
  article#banner
  article#que_es.container
    h1 ¿Qué es Plan 32?
    div.text.with-two-cols
        p
            | Plan32 es un proyecto de la Asociación Civil Transparencia que quiere contribuir al fortalecimiento de las instituciones en el Perú y, con ello, a mejorar la calidad de nuestra democracia. El Congreso de la República, el Poder Judicial, la Administración Pública y el Sistema electoral, están muy lejos de funcionar como realmente quisiéramos.<br><br>
            | Pero ya es momento de un cambio. No podemos esperar más. Y en Transparencia tenemos un plan. 
        p
            | Reunimos a nuestros 52 asociados, un conjunto de personas de ideologías y experiencias profesionales muy diversas, para que se pusieran de acuerdo en una serie de propuestas que pudieran mejorar el funcionamiento de estas instituciones. Luego de muchas discusiones, ellos se pusieron de acuerdo en 32 propuestas de reforma. Y así surgió el Plan32.<br><br>
            | Aquí te presentamos las 32 propuestas. Conócelas. Sugiere, comenta, aporta, debate, agrega, difunde. Apóyalas. Queremos que estas propuestas se vuelvan realidad y para eso necesitamos de tu ayuda. 
            b Sé parte del cambio. Firma.