.ext-que-es
  article#banner
  article#que_es.container
    h1 ¿Qué es Plan 32?
    div.text.with-two-cols
      p
        | Plan32 es un proyecto de la Asociación Civil
        | Transparencia que quiere contribuir al fortalecimiento
        | de las instituciones en el Perú y, con ello, a mejorar la
        | calidad de nuestra democracia. Somos conscientes de
        | que, pese a los avances que ha alcanzado el país en
        | los últimos años, las instituciones públicas se han
        | debilitado profundamente. El Congreso de la República,
        | el Poder Judicial, la Administración Pública y el
        | Sistema electoral, están muy lejos de funcionar como
        | quisiéramos que funcionen.<br><br>
        | Pero ya es momento de un cambio. No podemos
        | esperar más. Y en Transparencia tenemos un plan.
        | Plan32 reúne un conjunto de 32 propuestas
        | consensuadas y aprobadas unánimemente por la
        | Asamblea General de nuestra Asociación que reúne
        | a personas de ideologías muy diversas.
      p
        | Estamos seguros de que, si se implementaran, estas
        | propuestas generarían mejoras en el funcionamiento
        | de todas estas instituciones. Aquí te presentamos las
        | 32 propuestas. Conócelas.<br><br>
        | Sugiere, comenta, aporta, debate, agrega, difunde.
        | Apóyalas. Queremos que estas propuestas se vuelvan
        | realidad y para eso necesitamos de tu ayuda.<br><br>
        | Para que sientas que el Congreso te representa, que
        | el Poder Judicial sí funciona, que la Administración
        | Pública es más transparente y que los procesos
        | electorales tengan menos problemas de los que ya
        | sufrimos en las elecciones que acaban de pasar.<br><br>
        b Sé parte del cambio. Firma.
