@css {
  @font-face {
    font-family: 'Adelle';
    src: url('/ext/fonts/Adelle-Bold.eot');
    src: url('/ext/fonts/Adelle-Bold.eot?#iefix') format('embedded-opentype'),
      url('/ext/fonts/Adelle-Bold.woff') format('woff'),
      url('/ext/fonts/Adelle-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }

  @font-face {
    font-family: 'Adelle';
    src: url('/ext/fonts/Adelle-Regular.eot');
    src: local('Adelle Regular'), local('Adelle-Regular'),
      url('/ext/fonts/Adelle-Regular.eot?#iefix') format('embedded-opentype'),
      url('/ext/fonts/Adelle-Regular.woff') format('woff'),
      url('/ext/fonts/Adelle-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Adelle';
    src: url('/ext/fonts/Adelle-Light.eot');
    src: local('Adelle Light'), local('Adelle-Light'),
      url('/ext/fonts/Adelle-Light.eot?#iefix') format('embedded-opentype'),
      url('/ext/fonts/Adelle-Light.woff') format('woff'),
      url('/ext/fonts/Adelle-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }
}
