@css {
  @font-face {
    font-family: 'Adelle';
    src: url('/ext/fonts/Adelle-Bold.eot');
    src: url('/ext/fonts/Adelle-Bold.eot?#iefix') format('embedded-opentype'),
      url('/ext/fonts/Adelle-Bold.woff') format('woff'),
      url('/ext/fonts/Adelle-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }
}
