/* Vars
-------------------------------------------------- */
header_height = 60px
spacing = 20px

/* Header
-------------------------------------------------- */
header.app-header, aside.nav-proposal, .site-content, .site-content.loading-lock
  position fixed

.site-content.content-pinned
aside.nav-proposal.content-pinned
  transition transform 200ms linear
  padding-top 0

.site-content
  z-index 1
  overflow-y scroll
  background white

#content.site-content
  overflow-y auto

header.app-header
  z-index 20
  top 0
  left 0
  right 0
  height 80px
  background #64476e
  color white
  padding-left spacing
  font-weight bold
  text-transform uppercase
  font-size 12px

  &.with-contrast
    box-shadow 0 2px 2px #d5d5d5

  #toggleButton
    width 26px
    height 44px
    position absolute
    left spacing
    padding 15px 0
    display none
    .bar-icon
      height 3px
      margin-bottom 5px
      display block

  a
     color white
     &:hover
       color white

  h1
    display inline-flex
    align-items center
    font-size 12px
    margin 0
    height 100%
    .logo
      height 40px
      display inline-block
      margin-right 10px
      margin-top -2px

  img.logo-image
    height 28px
    margin-top 5px
    display inline-block

  .user-nav
    display inline-flex
    float right
    list-style none
    align-items center
    height 100%

    .user
      float right

    .login
      padding 6px 12px
      display inline-block
      line-height 1.8

      i
        display none
        font-size 20px
      &:hover
        text-decoration none
    
    .user-badge .btn, .notifications-badge .btn
        display flex
        align-items center
        height 80px

vendors(prop, args, fn = null)
  val = fn == null ? args : fn + '(' + args + ')'
  -moz-{prop} val
  -webkit-{prop} val
  -o-{prop} val
  -ms-{prop} val
  {prop} val

.headroom
  vendors(transition, all 200ms linear)

.headroom--pinned
  vendors(transform, 0%, translateY)

.headroom--unpinned
  vendors(transform, -100%, translateY)

#navMenu
  margin 0
  padding 0
  list-style none
  font-size 14px
  text-transform uppercase
  font-family 'Roboto', sans-serif
  li.link
    display inline-block
    margin-left 20px
  a
    padding 30px 0 20px
    color #6d6e70
    font-weight 400

@media screen and (max-width: 700px)
  header.app-header
    height 50px
    #navMenu
      display none
    .user-nav
      display inline-block
      float right
      list-style none
      margin-right spacing
      position absolute
      right 0
      top 0px
      .login
        margin-top 10px
      .user-badge .btn, .notifications-badge .btn
        padding 9px 12px
        height 50px
    img.logo-image
      margin-top 9px
      height 44px