footer
  background #fff
  text-align center
  padding-top 32px
  .logo
    width 46px
  .transparencia
    width 76px
  p.proyde
    font-size 9px
    margin-top 9px
  .dudas, a
    font-size 10px
  div
    margin-top 21px
    display flex
    align-items center
    justify-content center
    p
      text-transform uppercase
      display inline-block
      font-size 8px
      margin 0 -6px 0 0
    .der
      width 100px