.footer-wrapper
  background #fff

  .wrapper
    max-width 970px
    padding-right 15px
    padding-left 15px
    margin-right auto
    margin-left auto

  footer
    display flex
    justify-content space-between
    flex-wrap wrap

    & > *
      margin 20px

    .author
      display flex
      align-items center
      justify-content space-between
      flex-wrap wrap
      margin-bottom 15px

      & > *
        margin 0 10px

      .logo
        height 60px

      .transparencia
        height 40px

      p
        font-size .7em

    .sponsors
      display flex
      align-items center
      justify-content space-between
      flex-wrap wrap

      & > *
        margin 0 10px

      img
        height 60px

  .footer-meta-wrapper
    background-color #333

  .footer-meta
    display flex
    justify-content space-between
    flex-wrap wrap
    padding 20px
    color #fff
    font-size .7em

    p
      font-size inherit
      margin 0

    a
      font-size inherit
      color inherit
