.footer-wrapper
  footer.wrapper
    .author
      img.logo(src='/ext/logo-plan32.svg')
      p.proyde es un proyecto de:
      img.transparencia(src='/ext/logo-transparencia.svg')
      
    .sponsors
      img(src='/ext/footer/interquorum.jpg')
      img(src='/ext/footer/rmi.png')
      
  .footer-meta-wrapper
    .footer-meta.wrapper
      a(href='help/terms-of-service') Términos y Condiciones
      p.dudas ¿Dudas, sugerencias? escríbenos a <a href='mailto:plan32@plan32.pe'>plan32@plan32.pe</a>
