footer
  img.logo(src="ext/logo-plan32.svg")
  p.proyde es un proyecto de
  img.transparencia(src="ext/logo-transparencia.svg")
  div
    p Tecnología de
    img.der(src="ext/logo-DER-negro.png")
  a(href="#") Terminos y Condiciones
  p.dudas ¿Dudas, sugerencias? escribinos a <a href="mailto:plan32@plan32.org">plan32@plan32.org</a>
