.ext-home
  article
    margin 0 auto 60px
    max-width 100%

    &:last-child
      margin-bottom 0

    h1
      margin-top 0
      text-align center

  #banner
    position relative
    background-color black

    .youtube-video
      background-size cover
      background-repeat no-repeat
      background-position center center
      background-image unquote('url("/ext/home/video-loop.png")')

  #intro
    margin-top 0

    a
      margin-top 15px

  #propuestas
    margin-bottom 0

  .proyecto-de-ley
    margin-bottom 60px

  #noticias
    padding 36px 0 50px
    .topic-container
      height 300px
      border 1px solid #a6a8ac
      .topic-card
        padding 0
        height 100%
        .title
          margin 20px
        .fecha
          margin 20px 20px 0
          color #a6a8ac
          font-weight 400
        .pic
          position relative
          left 0
          flex 1
          margin 0

@import '../../node_modules/flickity/css/flickity.css'
