header.app-header
  display none
.snap-drawers
  display none
section.site-content
    margin-top 135px
header.custom-header
  display flex
  justify-content space-between
  position fixed
  width 100%
  top 0
  height 135px
  padding 0 60px
  box-sizing border-box
  ul
    display flex
    align-items center
    list-style none
    text-transform uppercase
    font-size 20px
    height 100%
    li
      margin 0 17px
      color #6d6e70
#banner
  img
    width 100%
article
  h1
    text-align center
    font-size 50px
    margin-bottom 50px
  button
    background #000
    color #fff
    text-transform uppercase
    border none
    font-size 20px
    padding 7px 40px
#intro
  margin-top 100px
  padding 0 50px
  & > div
    display flex
    height 320px
    & > div
      font-size 24px
      padding 0 45px
      height 100%
      color #231f20
      position relative
      button
        position absolute
        bottom 0