.ext-home
  article
    margin 0 auto 60px
    max-width 100%

    &:last-child
      margin-bottom 0

    h1
      margin-top 0
      text-align center

  #banner
    position relative
    background-color #333

    &:after
      content ''
      display block
      padding-top 35%

  #intro
    margin-top 0

    a
      margin-top 15px

  #map
    position relative
    width 100%
    z-index 0

  .map-container
    pointer-events none

  #propuestas
    margin-bottom 0

  .proyecto-de-ley
    margin-bottom 60px

  #noticias
    padding 36px 0 50px
    .topic-container
      height 300px
      .topic-card
        padding 0
        height 100%
        .title
          margin 20px
        .pic
          position relative
          left 0
          flex 1
          margin 0

@import '../../node_modules/flickity/css/flickity.css'
