.ext-home
  article#banner
  article#intro.container
    h1 ¿Qué es Plan 32?
    .with-two-cols
      img(src="ext/video.png")
      .text
        p
          | Plan32 es un proyecto de la Asociación Civil Transparencia que quiere contribuir al fortalecimiento de las instituciones en el Perú y, con ello, a mejorar la calidad de nuestra democracia. El Congreso de la República, el Poder Judicial, la Administración Pública y el Sistema electoral, están muy lejos de funcionar como realmente quisiéramos.<br><br>
          | Pero ya es momento de un cambio. No podemos esperar más. Y en Transparencia tenemos un plan...
        a.p32-btn(href="/que-es") Más sobre Plan 32
  article#propuestas.container
    h1 Propuestas de reforma
  include ../proyecto-de-ley/proyecto-de-ley
  article#map
    .quiero-firmar-map
      #quiero
        h2 Quiero firmar
        p Necesitamos más de 67,000 firmas para que este proyecto sea debatido en el Congreso.
        p: b ¡Necesitamos tu firma!
        a.p32-btn(href="/quiero-firmar") Ver más
      .map-container
        include ../quiero-firmar/map
  article#noticias
    h1 Noticias
    #noticias-slider
