.ext-home
  article#banner
    .responsive-video
      iframe(src="https://www.youtube.com/v/QXnpC57YjAs?version=3&loop=1&autoplay=1&&playlist=QXnpC57YjAs&controls=0", frameborder="0", allowfullscreen)
  article#intro.container
    h1 ¿Qué es Plan 32?
    .with-two-cols
      div
        .responsive-video
          iframe(src="https://www.youtube.com/embed/h0XYozDTo9I", frameborder="0", allowfullscreen)
      .text
        p
          | Plan32 es un proyecto de la Asociación Civil Transparencia que quiere contribuir al fortalecimiento de las instituciones en el Perú y, con ello, a mejorar la calidad de nuestra democracia. El Congreso de la República, el Poder Judicial, la Administración Pública y el Sistema electoral, están muy lejos de funcionar como realmente quisiéramos.<br><br>
          | Pero ya es momento de un cambio. No podemos esperar más. Y en Transparencia tenemos un plan...
        a.p32-btn(href="/que-es") Más sobre Plan 32
  article#propuestas.container
    h1 Propuestas de reforma
  include ../proyecto-de-ley/proyecto-de-ley
  article#map
    include ../quiero-firmar/map
  article#noticias
    h1 Noticias
    #noticias-slider
