article#banner
  img(src="ext/banner.png")
article#intro
  h1 ¿Que es Plan 32?
  div
    img#video(src="ext/video.png")
    div
      p
        | Plan32 es un proyecto de la Asociación Civil
        | Transparencia que quiere contribuir al fortalecimiento
        | de las instituciones en el Perú y, con ello, a mejorar la
        | calidad de nuestra democracia. Somos conscientes
        | de que, pese a los avances que ha alcanzado el país
        | en los últimos años, las instituciones públicas se han
        | debilitado profundamente.
      a.button(href="/que-es") Sobre Plan 32
article#propuestas
  h1 Propuestas de reforma
  div#boxes
    div#Congreso.box
      h2 Un mejor Congreso
      button Ver propuestas
    div#Justicia.box
      h2 Un mejor<br>Sistema de Justicia
      button Ver propuestas
    div#Publica.box
      h2 Una mejor<br>Administración Pública
      button Ver propuestas
    div#Electoral.box
      h2 Un mejor<br>Sistema Electoral
      button Ver propuestas
article#map
  include ../quiero-firmar/map
  div#quiero
    h2 Quiero firmar
    p Necesitamos más de 67,000 firmas para que este proyecto sea debatido en el Congreso.
    p.exclam ¡Necesitamos tu firma!
    a.button(href="/quiero-firmar") Ver más