header.custom-header
  img(src="ext/logo-transparencia.svg")
  ul
    li Plan 32
    li Quiero firmar
    li.logo
      img(src="ext/logo-plan32.svg")
    li Proyecto de ley
    li Noticias
  img(src="ext/logo-transparencia.svg")
article#banner
  img(src="ext/banner.png")
article#intro
  h1 ¿Que es Plan 32?
  div
    img(src="ext/video.png")
    div
      p
        | Es un hecho establecido hace demasiado tiempo que
        | un lector se distraerá con el contenido del texto de un
        | sitio mientras que mira su diseño.
        | El punto de usar Lorem Ipsum es que tiene una
        | distribución más o menos normal de la letras, al
        | contrario de usar textos.
      button Sobre Plan 32
article#boxes
  h1 Propuestas de reforma
  div.boxes
    div
      h2 Un mejor Congreso
      button Ver propuestas
    div
      h2 Un mejor Sistema de Justicia
      button Ver propuestas
    div
      h2 Una mejor Administración Pública
      button Ver propuestas
    div
      h2 Un mejor Proceso Electoral
      button Ver propuestas
article#map
  div
    h2 Quiero firmar
    p Necesitamos más de 67,000 firmas para que este proyecto sea debatido en el Congreso.
    p.exclam ¡Necesitamos tu firma!
    button Ver más
  gmap
article#noticias
  h1 Noticias
  p Es un hecho establecido hace demasiado<br>se distraerá con el contenido del texto.
  div
    div
      h2 Noticia numero uno
      p Now that there is the Tec-9, a crappyspray gun from South Miami. Thisgun is advertised as the most popular gun in American crime.
      img(src="ext/noticia.png")
footer
  img(src="ext/logo-plan32.svg")
  p es un proyecto de
  img(src="ext/logo-transparencia.svg")
  div
    p Tecnología de
    img(src="ext/logo-DER-negro.png")
  a Terminos y Condiciones
  p ¿Dudas, sugerencias? escribinos a <a href="#">plan32@plan32.org</a>