header.custom-header
  img.transparencia(src="ext/logo-transparencia.svg")
  ul.right
    li
      a(href="/plan32") Plan 32
    li
      a(href="/quiero-firmar") Quiero firmar
  .logo
      img(src="ext/logo-plan32.svg")
  ul.left
    li
      a(href="/proyecto") Proyecto de ley
    li
      a(href="/noticias") Noticias
  img.transparencia(src="ext/logo-transparencia.svg")
article#banner
  img(src="ext/banner.png")
article#intro
  h1 ¿Que es Plan 32?
  div
    img#video(src="ext/video.png")
    div
      p
        | Plan32 es un proyecto de la Asociación Civil
        | Transparencia que quiere contribuir al fortalecimiento
        | de las instituciones en el Perú y, con ello, a mejorar la
        | calidad de nuestra democracia. Somos conscientes
        | de que, pese a los avances que ha alcanzado el país
        | en los últimos años, las instituciones públicas se han
        | debilitado profundamente.
      button Sobre Plan 32
article#propuestas
  h1 Propuestas de reforma
  div#boxes
    div#Congreso.box
      h2 Un mejor Congreso
      button Ver propuestas
    div#Justicia.box
      h2 Un mejor<br>Sistema de Justicia
      button Ver propuestas
    div#Publica.box
      h2 Una mejor<br>Administración Pública
      button Ver propuestas
    div#Electoral.box
      h2 Un mejor<br>Sistema Electoral
      button Ver propuestas
article#map
  iframe(src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d44146.10354427051!2d-77.09604222698916!3d-12.043441576125797!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2sar!4v1467134748282" frameborder="0" style="border:0" allowfullscreen)
  div#quiero
    h2 Quiero firmar
    p Necesitamos más de 67,000 firmas para que este proyecto sea debatido en el Congreso.
    p.exclam ¡Necesitamos tu firma!
    button Ver más
footer
  img.logo(src="ext/logo-plan32.svg")
  p.proyde es un proyecto de
  img.transparencia(src="ext/logo-transparencia.svg")
  div
    p Tecnología de
    img.der(src="ext/logo-DER-negro.png")
  a Terminos y Condiciones
  p.dudas ¿Dudas, sugerencias? escribinos a <a href="#">plan32@plan32.org</a>
