.ext-home
  article#banner
  article#intro
    h1 ¿Qué es Plan 32?
    .content
      img.content-item(src="ext/video.png")
      .content-item.text
        p
          | Plan32 es un proyecto de la Asociación Civil
          | Transparencia que quiere contribuir al fortalecimiento
          | de las instituciones en el Perú y, con ello, a mejorar la
          | calidad de nuestra democracia. Somos conscientes
          | de que, pese a los avances que ha alcanzado el país
          | en los últimos años, las instituciones públicas se han
          | debilitado profundamente.
        a.p32-btn(href="/que-es") Sobre Plan 32
  article#propuestas
    h1 Propuestas de reforma
    #boxes
      #Congreso.box
        h2 Un mejor Congreso
        a.p32-btn(href="#") Ver propuestas
      #Justicia.box
        h2 Un mejor<br>Sistema de Justicia
        a.p32-btn(href="#") Ver propuestas
      #Publica.box
        h2 Una mejor<br>Administración Pública
        a.p32-btn(href="#") Ver propuestas
      #Electoral.box
        h2 Un mejor<br>Sistema Electoral
        a.p32-btn(href="#") Ver propuestas
  article#map
    include ../quiero-firmar/map
    #quiero
      h2 Quiero firmar
      p Necesitamos más de 67,000 firmas para que este proyecto sea debatido en el Congreso.
      p.exclam ¡Necesitamos tu firma!
      a.p32-btn(href="/quiero-firmar") Ver más