header.custom-header
  img.transparencia(src="ext/logo-transparencia.svg")
  ul
    li Plan 32
    li Quiero firmar
    li.logo
      img(src="ext/logo-plan32.svg")
    li Proyecto de ley
    li Noticias
  img.transparencia(src="ext/logo-transparencia.svg")
article#banner
  img(src="ext/banner.png")
article#intro
  h1 ¿Que es Plan 32?
  div
    img#video(src="ext/video.png")
    div
      p
        | Plan32 es un proyecto de la Asociación Civil
        | Transparencia que quiere contribuir al fortalecimiento
        | de las instituciones en el Perú y, con ello, a mejorar la
        | calidad de nuestra democracia. Somos conscientes
        | de que, pese a los avances que ha alcanzado el país
        | en los últimos años, las instituciones públicas se han
        | debilitado profundamente.
      button Sobre Plan 32
article#propuestas
  h1 Propuestas de reforma
  div#boxes
    div#Congreso.box
      h2 Un mejor Congreso
      button Ver propuestas
    div#Justicia.box
      h2 Un mejor<br>Sistema de Justicia
      button Ver propuestas
    div#Publica.box
      h2 Una mejor<br>Administración Pública
      button Ver propuestas
    div#Electoral.box
      h2 Un mejor<br>Sistema Electoral
      button Ver propuestas
article#map
  div
    h2 Quiero firmar
    p Necesitamos más de 67,000 firmas para que este proyecto sea debatido en el Congreso.
    p.exclam ¡Necesitamos tu firma!
    button Ver más
  gmap
article#noticias
  h1 Noticias
  p Es un hecho establecido hace demasiado<br>se distraerá con el contenido del texto.
  div
    div
      h2 Noticia numero uno
      p Now that there is the Tec-9, a crappyspray gun from South Miami. Thisgun is advertised as the most popular gun in American crime.
      img(src="ext/noticia.png")
footer
  img(src="ext/logo-plan32.svg")
  p es un proyecto de
  img(src="ext/logo-transparencia.svg")
  div
    p Tecnología de
    img(src="ext/logo-DER-negro.png")
  a Terminos y Condiciones
  p ¿Dudas, sugerencias? escribinos a <a href="#">plan32@plan32.org</a>