.custom-header
  display none

.ext-layout
  // Hide original layout
  .app-header
    display none

  .snap-drawers
    display none

  .site-content
    margin-top 50px

  @media (min-width: 620px)
    .site-content
      margin-top 109px

  #content
    background #EAEAEA

  // Show ext layout
  .custom-header
    display flex
