article.proposal
  .links
    margin-top: 2em
    margin-bottom: 2em
    padding: 0
    background-color: transparent

    h5
      display: none

    p
      margin: 0
      padding: 0

      & + p
        margin-top: .4em

      span.glyphicon
        display: none

      a
        display: inline-block
        cursor: pointer
        background: #333
        color: #fff
        text-transform: uppercase
        border: none
        font-size: 18px
        padding: 9px 30px
        font-weight: bold
        text-align: center

        &:hover
          text-decoration: none
